// Compass imports
@import "compass/reset";
@import 'compass/css3';
// Mixins import
@import 'mixins';
// Sprites imports
@import "compass/utilities/sprites";
@import "icons/*.png";
@include all-icons-sprites;

$sans: 'Raleway', sans-serif;

html, input{
	font-family: $sans;
}
body{
	background-color: #252525;
}
header{
	overflow: hidden;
	background-color: #252525;
	padding: 12px;
	color: #fff;
}
form{
	display: inline-block;
}
input, option, select{
	font-size: 24px;
}
label{
	font-size: 24px;
	margin-right: 8px;
}
select{
	background-color: #000;
	color: #aaa;
	padding: 2px 8px;
	border-radius: 5px;
}
h2{
	font-size: 48px;
	padding: 5px 0;
}
h3{
	font-size: 24px;
}
.button{
	display: inline-block;
	border: none;
	background-color: #252525;
	color: #fff;
	border: 1px solid #fff;
	border-radius: 5px;
	padding: 8px 16px;
	margin: 4px 16px;
	font-weight: bold;
	cursor: pointer;
	&:hover{
		background-color: #fff;
		color: #252525;
	}
	&:active{
		border: 2px solid #000;
	}
}
.square64{
	height: 64px;
	width: 64px;
	display: inline-block;
	vertical-align: top;
	cursor: pointer;
}
#container{
	display: block;
	width: 100%;
	height: auto;
	overflow: hidden;
	text-align: center;
	@include transition-property(opacity);
	@include transition-duration(200ms);
}
.item{
	display: inline-block;
	height: 160px;
	width: 160px;
	overflow: hidden;
	margin: 4px;
	cursor: pointer;
}
.input-text{
	border-radius: 5px;
	padding: 8px 12px;
	margin: 12px;
}
#menu-group{
	display: none;
	border: 1px solid #fff;
	border-radius: 5px;
	padding: 8px 16px;
	margin-left: 12px;
}
#message{
	text-align: center;
	margin-top: 18px;
	color: #fff;
	font-size: 88px;
	vertical-align: middle;
	display: none;
}
#button-load{
	display: none;
	margin: 24px;
}

//Image Viewer
#viewer{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	max-height: 100%;
	text-align: center;
	display: none;
	outline: 0;
	&:before{
		content: '';
		display: inline-block;
		height: 100%;
		vertical-align: middle;
		margin-right: -0.25em;
	}
	img{
		display: inline-block;
		max-height: 100%;
		max-width: 100%;
		box-shadow: 0 0 1000px 150px #000;
		z-index: 10;
	}
}
#viewer-image{
	max-width: 90%;
}
#viewer-image, .viewer-control{
	display: inline-block;
	vertical-align: middle;
}
.viewer-control{
	width: 5%;
	position: relative;
	cursor: pointer;
	color: #fff;
	text-align: center;
	z-index: 10000;
}
#suggestions{
	text-align: left;
	padding: 12px 24px;
	width: 120%;
	p {
		font-size: 140px;
		display: inline-block;
		margin: 12px 32px 12px 0;
		cursor: pointer;
		color: #777;
	}
}
.loading{
	display: none;
	margin: 24px;
}
.loading-dot{
	position: relative;
	height: 10px;
	width: 10px;
	border-radius: 5px;
	margin: 4px;
	background-color: #fff;
	display: inline-block;
}
#loading-dot1{
	@include animation(fadeIn1 2s linear infinite);
}
#loading-dot2{
	@include animation(fadeIn2 2s linear infinite);
}
#loading-dot3{
	@include animation(fadeIn3 2s linear infinite);
}
@include keyframes(fadeIn1) {
	0% { opacity: .1;}
	50% {opacity: .9;}
	100% {opacity: .1;}
}
@include keyframes(fadeIn2) {
	0% { opacity: .5;}
	25% { opacity: .1;}
	75% {opacity: .9;}
	100% {opacity: .5;}
}
@include keyframes(fadeIn3) {
	0% { opacity: .9;}
	50% { opacity: .1;}
	100% {opacity: .9;}
}
