<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">

	<title>Imgur Subreddit Viewer</title>
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,500italic,700,500,400italic,300italic,300,100italic,100,700italic,900,900italic' rel='stylesheet' type='text/css'>
</head>

<body id="viewr">

<div id="app">
	<header-bar></header-bar>

	<div id="container" @scroll="checkNextPage">

		<div id="scroller">
				<h3 id="message"></h3>

				<div id="posts" v-if="subreddit">
					<div draggable="false" v-for="post in posts" @click="setCurrentPost(post)" class="post-item" :style="{backgroundImage: 'url(' + post.thumb + ')'}"></div>
				</div>

				<div id="button-load" class="button" @click="nextPage()" v-if="!isRequested && subreddit !== ''">Load More</div>

				<figure class="loading" v-if="isRequested">
					<div class="loading-dot"></div>
					<div class="loading-dot"></div>
					<div class="loading-dot"></div>
				</figure>

				<div id="suggestions" v-if="!subreddit">
					<p @click="loadHomeSub('aww')">Awww</p> <!-- Remove extra W -->
					<p @click="loadHomeSub('cats')">Cats</p>
					<p @click="loadHomeSub('dogpictures')">DogPictures</p>
					<p @click="loadHomeSub('puppies')">Puppies</p>
					<p @click="loadHomeSub('cute')">Cute</p>
					<p @click="loadHomeSub('redpandas')">RedPandas</p>
					<p @click="loadHomeSub('aww_gifs')">AwwGifs</p>
					<p @click="loadHomeSub('foxes')">Foxes</p>
					<p @click="loadHomeSub('hardcoreaww')">HardcoreAww</p>
					<p @click="loadHomeSub('rabbits')">Rabbits</p>
					<p @click="loadHomeSub('CatGifs')">CatGifs</p>
					<p @click="loadHomeSub('CatsStandingUp')">CatsStandingUp</p>
					<p @click="loadHomeSub('pics')">Pics</p>
					<p @click="loadHomeSub('photography')">Photography</p>
					<p @click="loadHomeSub('earthporn')">Earth</p>
					<p @click="loadHomeSub('spaceporn')">Space</p>
					<p @click="loadHomeSub('gifs')">GIFs</p>
					<p @click="loadHomeSub('hdr')">HDR</p>
					<p @click="loadHomeSub('AbandonedPorn')">Abandoned</p>
					<p @click="loadHomeSub('FuturePorn')">Future</p>
					<p @click="loadHomeSub('FoodPorn')">Food</p>
					<p @click="loadHomeSub('AnimalPorn')">Animals</p>
					<p @click="loadHomeSub('MapPorn')">Maps</p>
					<p @click="loadHomeSub('ArtPorn')">Art</p>
				</div>
			</div>
		</div>

		<div id="viewer" v-if="currentPost">
			<div @click="changePost(-1)" class="viewer-control">
				<svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
				    <path d="M15.41 16.09l-4.58-4.59 4.58-4.59L14 5.5l-6 6 6 6z"/>
				    <path d="M0-.5h24v24H0z" fill="none"/>
				</svg>
			</div>
			<div id="viewer-post" @click="hidePostDisplay">
				<div class="content-wrap">
					<div>
						<img v-if="currentPost.type === 'image'" :src="currentPost.media" :alt="currentPost.title">
						<video v-if="currentPost.type === 'video'" :src="currentPost.media" preload="auto" autoplay="autoplay" controls muted="muted" loop="loop" webkit-playsinline=""></video>
						<iframe v-if="currentPost.type === 'iframe'" :style="{width: windowWidth+'px', height: (windowWidth*0.7) + 'px'}" :src="currentPost.media" frameborder="0"></iframe>
					</div>
				</div>
				<div class="content-bar">
					<a :href="currentPost.data.url" target="_href">Direct Link</a>
					<a :href="'https://reddit.com'+ currentPost.data.permalink" target="_href">Reddit Permalink</a>
					<span @click="hidePostDisplay" target="_href">Close</span>
				</div>
			</div>
			<div @click="changePost(1)" class="viewer-control">
				<svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
				    <path d="M8.59 16.34l4.58-4.59-4.58-4.59L10 5.75l6 6-6 6z"/>
				    <path d="M0-.25h24v24H0z" fill="none"/>
				</svg>
			</div>
		</div>
</div>

</body>
</html>
