<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Imgur Subreddit Viewer</title>
	<link rel="stylesheet" href="dist/css/screen.css">
	<link href='http://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
</head>
<body id="viewr">
	<header>
		<form @submit="loadSubredditSubmit">
			<div id="button-home" class="icons-home square64"></div>
			<input v-model="subreddit" class="input-text" placeholder="Enter Subreddit" type="text">

			<button class="button" type="submit">Show Images</button>

			<input id="radio-sort-time" checked='checked' type="radio" name="sort" value="time">
			<label for="radio-sort-time">Recent</label>
			<input id="radio-sort-top" type="radio" name="sort" value="top">
			<label for="radio-sort-top">Top</label>
			<div id="menu-group">
				<input type="radio" name="time" id="radio-time-day" value="day">
				<label for="radio-time-day">This Day</label>
				<input type="radio" name="time" checked='checked' id="radio-time-week" value="week">
				<label for="radio-time-week">This Week</label>
				<input type="radio" name="time" id="radio-time-month" value="month">
				<label for="radio-time-month">This Month</label>
				<input type="radio" name="time" id="radio-time-year" value="year">
				<label for="radio-time-year">This Year</label>
				<input type="radio" name="time" id="radio-time-all" value="all">
				<label for="radio-time-all">All Time</label>		
			</div>
		</form>
	</header>

	<div id="container">

		<h3 id="message"></h3>

		<div id="images">
			<img v-for="image in images" @click="setCurrentImage(image)" :src="image.thumb" :alt="image.title">
		</div>

		<div id="button-load" class="button">Load More</div>
		<figure class="loading" v-show="isRequested">
			<div class="loading-dot"></div>
			<div class="loading-dot"></div>
			<div class="loading-dot"></div>
		</figure>
		<div id="suggestions" v-show="!subreddit">
			<p @click="loadSubreddit('aww')">Awww</p> <!-- Remove extra W -->
			<p @click="loadSubreddit('cats')">Cats</p>
			<p @click="loadSubreddit('dogs')">Dogs</p>
			<p @click="loadSubreddit('puppies')">Puppies</p>
			<p @click="loadSubreddit('cute')">Cute</p>
			<p @click="loadSubreddit('redpandas')">RedPandas</p>
			<p @click="loadSubreddit('aww_gifs')">AwwGifs</p>
			<p @click="loadSubreddit('foxes')">Foxes</p>
			<p @click="loadSubreddit('hardcoreaww')">HardcoreAww</p>
			<p @click="loadSubreddit('rabbits')">Rabbits</p>
			<p @click="loadSubreddit('CatGifs')">CatGifs</p>
			<p @click="loadSubreddit('CatsStandingUp')">CatsStandingUp</p>
			<p @click="loadSubreddit('dogpictures')">DogPictures</p>
			<p @click="loadSubreddit('pics')">Pics</p>
			<p @click="loadSubreddit('photography')">Photography</p>
			<p @click="loadSubreddit('earthporn')">Earth</p>
			<p @click="loadSubreddit('spaceporn')">Space</p>
			<p @click="loadSubreddit('gifs')">GIFs</p>
			<p @click="loadSubreddit('hdr')">HDR</p>
			<p @click="loadSubreddit('AbandonedPorn')">Abandoned</p>
			<p @click="loadSubreddit('FuturePorn')">Future</p>
			<p @click="loadSubreddit('FoodPorn')">Food</p>
			<p @click="loadSubreddit('AnimalPorn')">Animals</p>
			<p @click="loadSubreddit('MapPorn')">Maps</p>
			<p @click="loadSubreddit('ArtPorn')">Art</p>
		</div>
	</div>

	<div id="viewer" v-el:image-display @click="hideImageDisplay" v-show="currentImage">
		<div @click="changeImage(-1)" class="viewer-control">previous</div>
		<div id="viewer-image">
			<img :src="currentImage.display" :alt="currentImage.title">
		</div>
		<div @click="changeImage(1)" class="viewer-control">Next</div>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/vue/1.0.8/vue.min.js"></script>
	<script type="text/javascript" src="dist/scripts/script.js"></script>
</body>
</html>